body {
    background-image: url(../pictures/dia.png);
}

h1 {
    color: #3c004b;
}

form {
    background-color: #ffffffa6;
    backdrop-filter: blur(5px);
    color: #3c004b;
}

.legenda {
    color: #3c004b;
}

.campos > input {
    border: 1px solid #6e4e76;
}

.entrar {
    background-color: #FFC0C2;
    color: #3c004b;
}

.opcoes {
}