@charset "UTF-8";

@font-face {
    font-family: 'noto-sans';
    src: url(../noto-sans/NotoSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'noto-bold';
    src: url(../noto-sans/NotoSans-Bold.ttf) format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'noto-sans', times, Helvetica, sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    background: #292929 url(../pictures/florest.jpg) center center / cover no-repeat fixed;
}

.container {
    height: 100vh;
    max-width: 500px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.create-account {
    max-width: 500px;
}

form {
    background-color: #ffffff10;
    backdrop-filter: blur(20px);

    color: #fff;
    font: normal normal bold 'noto-sans', arial, helvetica, sans-serif;

    width: 100%;
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 5px;
}

header {
    margin: 25px 0px 0px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0px;
    font: normal normal bold 'noto-bold', arial, helvetica, sans-serif;
}

.entrar {
    background-color: #3c004b;
    font-size: small;
    text-align: center;

    
    padding: 5px 15px;
    border-radius: 5px;
}

.campos-de-preenchimento {
    max-width: 500px;
    margin: 25px auto 50px auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.campos {
    margin-top: 25px;
}

.legenda {
    margin-bottom: 5px;
    box-sizing: border-box;
}

.campos > input {
    background-color: #ffffff7c;

    height: 30px;
    min-width: 215px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
}

::placeholder {
    color: #6e4e76;
    font-weight: bold;
}

.legenda {
    color: #e9e9e9;
    font: normal bold small 'noto-sans', arial, helvetica, sans-serif;
}

.campos {
    display: inline-block;
}

.opcoes {
    display: inline-block;
}

.cadastro {
    background-color: white;
    color: #3c004b;
    font-weight: bolder;

    height: 30px;
    width: 100%;
    margin: 50px 0px 0px 0px;
    border: 0px;
    
    display: block;
}

